In [1]:
import redis
r = redis.StrictRedis(host= '127.0.0.1', port=6379)
r.flushdb() # Delete all keys of currently selected database instance.
r.flushall() # Delete all keys of entire database.

True

In [2]:
import pymongo

myclient = pymongo.MongoClient()

#use database named "organisation"
mydb = myclient["stud22"]

#use collection named "testers"
mycol = mydb["website"]

#### Drop unnecessary collections

In [3]:
mydb.website.drop()
mydb.website.job.drop()
mydb.list_collection_names() # print collections list

[]

#### add_company operation

In [4]:
def add_company(company):
    print(company)
    # check the keys names:
    if company.keys()[0] != 'company_name':
        print('Please set company_name')
    if company.keys()[1] != 'company_description':
        print('Please set company_description')
    if r.sismember('companies:names', company.values()[0]):
        print('Company already exist')
    else:
        r.sadd('companies:names', company.values()[0]) ## add the company name to redis sets
        mycol.insert_one(company) ## add the company to the collection

#### add_job operation

In [5]:
def add_job(job, company_name):
    r.incr(company_name)  # increase the job id for company name
    job_id = r.get('TAU') # get the job_id
    r.set(company_name +':' + job_id, job['status']) # add the job status to redis string
    job["job_id"] = job_id # add the job_id to the job dict
    result = mycol.update_many({"company_name": company_name}, {"$push":{"job_list":job}}) # add the job title to the collection

#### add_application operation

In [6]:
def add_application(candidate, job_id, company_name):
    job = mycol.find_one({'$and' : [{"company_name": company_name}, {"job_list.job_id" : job_id}]})
    if job['job_list'][job_id-1]['status']=='open':
        myquery = {'$and' : [{"company_name": company_name}, {"job_list.job_id" : job_id}]}
        mycol.update_many(myquery, {"$push":{"job_list.$.applications_list": candidate}})
        #mycol.update_many(myquery, {"$push":{"applications_list":"YOSI77"}}) # add the job title to the collection

In [7]:
def add_application_test(candidate, job_id, company_name):
    if not (r.sismember(candidate['email'],company_name +':' + job_id)) and (r.get(company_name +':' + job_id) == 'open'):
        r.sadd(candidate['email'],company_name +':' + job_id)
        print('yes')
        myquery = {'$and' : [{"company_name": company_name}, {"job_list.job_id" : job_id}]}
        mycol.update_many(myquery, {"$push":{"job_list.$.applications_list": candidate}})
        #mycol.update_many(myquery, {"$push":{"applications_list":"YOSI77"}}) # add the job title to the collection

In [8]:
def update_job_status(company_name, job_id, new_status):
    r.set(company_name +':' + job_id, new_status) # update the job status to the redis string
    myquery = {'$and' : [{"company_name": company_name}, {"job_list.job_id" : job_id}]}
    mycol.update_one(myquery, {"$set": {"job_list.$.status": new_status}})
    #mycol.update_many(myquery, {"$push":{"applications_list":"YOSI77"}}) # add the job title to the collection

In [9]:
def show_number_of_jobs(location, job_title):

SyntaxError: unexpected EOF while parsing (<ipython-input-9-7a120bfe3e5a>, line 2)

In [10]:
company = {'company_name':'TAU', 'company_description':'University'}

In [11]:
job = {'job_title':'bi developers2', 'location': 'Tel Aviv',
'requirements':['python','big data','mongodb'],
'status':'open','publish_date':'01-02-2020'}

In [12]:
application = {'candidate_name':'laura2', 'email':'laura@gmail.com',
'linkedin':'https://www.linkedin.com/in/laura/', "skills": ['python','sql'],"application_date":
'01-02-2020 15:00:00'}

In [13]:
add_company(company.copy())

{'company_name': 'TAU', 'company_description': 'University'}

TypeError: 'dict_keys' object is not subscriptable

In [14]:
add_job(job.copy(), 'TAU')

TypeError: can only concatenate str (not "bytes") to str

In [ ]:
add_application_test(application, "1", "TAU")

In [ ]:
for col in mycol.find():
    print col